In [ ]:
x=5
m=6
y="9"
z="2"
print(type(x))
print(type(y))
print(x+m)
print(y+z)

<class 'int'>
<class 'str'>
11
92

In [ ]:
#typecasting
a=int(z)
print(a+m)
#a=int(10a) is not allowed
'''is used for multi-line commenting as well
like this
and this
'''

8

'is used for multi-line commenting as well\nlike this \nand this\n'

In [ ]:
#list
l1=['hi',1,7,'list',6.7,9.5,[3,59,'hello']]
l2=l1[6][2]
print(l2)
length=len(l1)
print(length)

hello
7

In [ ]:
#python program to illustrate a list
# create a empty list
nums=[]
#appending  data in list
nums.append(21)
nums.append(40.5)
nums.append("string")
print(nums)

[21, 40.5, 'string']

In [ ]:
#tuple
t1=(1,2,3,4)
print(t1)

(1, 2, 3, 4)

In [ ]:
#dictionary
d1={"name":"tejaswini","age":"21"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.items())
print(d1.values())
print(d1["name"])

{'name': 'tejaswini', 'age': '21'}
<class 'dict'>
dict_keys(['name', 'age'])
dict_items([('name', 'tejaswini'), ('age', '21')])
dict_values(['tejaswini', '21'])
tejaswini

In [ ]:
#accepting integer from the users
#the return type of input()fuction is string
#so we need to convert the input to integer
num1=int(input("enter num 1:"))
num2=int(input("enter num 2:"))
num3=num1+num2
print("product is:", num3)
'''
python program to illustrate
selection statement
'''
num1=int (input("enter a num:"))
if (num1>12):
  print ('num is good')
elif (num1>35):
  print ('num is good')
else:
   print ('num is great')

enter num 1:9
enter num 2:8
product is: 17
enter a num:24
num is good